header {
  background: none;
}
.nav {
  border: 1px solid gray;
  padding: 10px;
  background-color: white;
}
.tab-link {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
  color: #10375c;
  text-align: left;
}
.active {
  background-color: #10375c;
  color: #ffffff;
  border-radius: 5px;
}
.tab-pane {
  color: #10375c;
  background-color: transparent !important;
}
