.category {
}
.swiper-pagination {
  bottom: auto !important;
}
.swiper {
  background-image: url(../images/category-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  box-shadow: 0 0 10px gray;
  padding: 50px 30px;
  border-radius: 10px;
}
.swiper-slide h1 {
  font-size: 25px;
  font-weight: 700;
}
