.splide__pagination {
  position: static;
  display: none;
}
.splide {
  padding: 30px;
  box-shadow: 0 0 10px gray;
  border-radius: 10px;
}
.splide__slide {
  border-right: 5px solid #900d0d;
}
.splide__slide a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: #900d0d;
}
#splide01-slide06,
#splide01-slide03 {
  border-right: 5px solid transparent;
}
/* Pop */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.splide__slide a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.splide__slide a:hover,
.splide__slide a:focus,
.splide__slide a:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
