.cleaning-service {
  background-image: url(../images/13843.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cleaning-service-title {
  width: 60%;
}
.cleaning-service-title hr {
  width: 20%;
  height: 5px;
  background-color: #900d0d;
}
.cleaning-service-card {
  cursor: pointer;
  border: none;
  box-shadow: 0 0 10px black;
  transition: all 0.3s ease-in-out !important;
}
.cleaning-service-card {
  border-radius: 10px;
  padding: 20px;
}
.cleaning-service-card img {
  border-radius: 5px;
  border: 2px solid red;
}
.cleaning-service-card:hover {
  box-shadow: 3px 5px 10px black;
}
.clng-srvc-btn {
  border: none;
  background-color: #cf1b1b;
  padding: 5px 30px;
  color: #ffdbc5;
  font-size: 20px;
  border-radius: 10px;
  width: 100%;
  transition: all 0.5s ease-in-out;
}
.clng-srvc-btn:hover {
  background-color: #900d0d;
}
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .cleaning-service-title {
    width: 100%;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
}

/*Extra extra large devices (Extra large desktops, 1400px and up)*/
@media (min-width: 1400px) {
}
