.other-doc {
  background-color: aliceblue;
  padding: 0.3%;
  margin: 1px;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}
.other-doc img {
  border-radius: 10px;
  margin-left: 6px;
}
.other-doc:hover {
  box-shadow: 3px 3px 10px gray;
}
.fee::before {
  content: "*";
}
.card-title {
  margin-bottom: 2px;
}
.other-doc p {
  font-size: 12px;
  margin-bottom: 2px;
}
.inner-scroll {
  height: 450px;
  overflow-y: scroll;
  width: 100%;
  overflow-x: hidden;
}
