@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
header {
  height: 100vh;
  background-image: url(../images/header-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-bg {
  background-color: #423144;
}
.phone-email {
  background-color: #900d0d;
}
.phone-email p {
  font-weight: 700;
  margin: 3px 5px;
  color: #ffdbc5;
}
.logo {
  color: #ffdbc5 !important;
}
.nav-link {
  color: #ffdbc5 !important;
}
