@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
h1 {
  color: #900d0d;
}
p {
  color: #423144b4;
}
header {
  height: 100vh;
  background-image: url(../images/header-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-bg {
  background-color: #423144;
}
.phone-email {
  background-color: #900d0d;
}
.phone-email p {
  margin: 3px 5px;
  color: #ffdbc5;
}
.logo {
  color: #ffdbc5 !important;
}
.nav-link {
  color: #ffdbc5 !important;
  font-weight: 700;
  margin-right: 20px;
}

/* Underline From Left */
.nav-link {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.nav-link:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #ffdbc5;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.nav-link:hover:before,
.nav-link:focus:before,
.nav-link:active:before {
  right: 0;
}
.service-menu-drop {
  position: relative;
}
.service-menu-dropdown {
  display: none;
  position: absolute;
  background-color: #ffdbc5;
  z-index: 1;
}
.service-menu-dropdown a {
  color: black;
}
.service-menu-dropdown a:hover {
  color: red;
}
.service-menu-drop:hover .service-menu-dropdown {
  display: block;
}
.service-menu-drop:hover .service-menu {
  background: transparent;
}
