.subcategory-card {
  margin: 5px;
  padding: 5px;
  display: flex;
  height: 280px;
  flex-direction: column;
  background-color: white;
  align-items: center;
  border-radius: 30px;
  text-decoration: none;
  box-shadow: 0 0 10px #900d0d;
  transition: transform 0.2s ease-in-out;
}
.subcategory-card:hover {
  transform: scale(1.02);
}
.subcategory-card img {
  width: 200px;
  height: 200px;
}
.subcategory-content h3 {
  color: #000;
  font-size: 20px;
  padding: 0 10px;
  text-align: center;
}
